<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Heal1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1962},{136,34}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,83},{136,34}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,358},{82,52}}</string>
                <key>offset</key>
                <string>{2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,121},{82,52}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1342},{82,102}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,75},{82,102}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,684},{82,148}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,33},{82,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1922},{38,144}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,29},{38,144}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,182},{40,172}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,2},{40,172}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{40,174}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,1},{40,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1284},{56,104}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,74},{56,104}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,526},{56,98}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,64},{56,98}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,626},{56,68}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,58},{56,68}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1446},{56,54}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,65},{56,54}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1184},{108,98}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,93},{108,98}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1058},{124,104}}</string>
                <key>offset</key>
                <string>{-4,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,87},{124,104}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{158,140}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,51},{158,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{174,156}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,35},{174,156}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{180,166}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{180,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{182,174}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{182,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,178}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{184,178}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,834},{110,90}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,101},{110,90}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,926},{130,104}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,87},{130,104}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{144,118}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,73},{144,118}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{138,154}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{138,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1650},{128,128}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,55},{128,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1780},{132,140}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,37},{132,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1502},{128,146}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,26},{128,146}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{134,162}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{134,162}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{138,168}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{138,168}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{140,166}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{140,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{122,166}}</string>
                <key>offset</key>
                <string>{-18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{122,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1816},{102,144}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{102,144}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Heal1.png</string>
            <key>size</key>
            <string>{256,1998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ee4eee52f0cf40118e83bdf3ec0c98f:25fa1920fa7d4d2eabd9f73febf1515b:b7b78f7031a2b3c91f5ca99842ff0ffc$</string>
            <key>textureFileName</key>
            <string>Heal1.png</string>
        </dict>
    </dict>
</plist>
