<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Heal4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,180},{148,148}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{148,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,180},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{152,152}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,180},{164,162}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{164,162}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,180},{168,166}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{168,166}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{176,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{176,172}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{176,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{176,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2},{176,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{176,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{176,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{176,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{176,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{176,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{176,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{176,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{176,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,178},{174,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{174,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,178},{174,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{174,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{176,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{176,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{176,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{176,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{176,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,180},{172,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{172,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,178},{174,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{174,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,178},{174,174}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{174,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,180},{172,174}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{172,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{140,162}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{140,162}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Heal4.png</string>
            <key>size</key>
            <string>{1924,355}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58fdc828ec462e25bcdbb6bdb2b8ca57:7583e109da1da1e43353b675646ffb1f:086a162c2f5ebccfe2b02e64b68b75cc$</string>
            <key>textureFileName</key>
            <string>Heal4.png</string>
        </dict>
    </dict>
</plist>
