<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,108},{74,90}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,48},{74,90}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Attack5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{104,128}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,29},{104,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Attack5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{158,164}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{158,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Attack5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,180}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Attack5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{168,184}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{168,184}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Attack5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{156,186}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{156,186}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Attack5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{148,186}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{148,186}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Attack5.png</string>
            <key>size</key>
            <string>{1020,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e105d6cdbe2efa2939d38b3b73040f30:ad9027d5a00466150a9ad1430a7b50d4:fb1effae90cd3416625fa05c92378081$</string>
            <key>textureFileName</key>
            <string>Attack5.png</string>
        </dict>
    </dict>
</plist>
