<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Heal3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{104,186}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,5},{104,186}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,384},{112,188}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,3},{112,188}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,192},{132,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{132,188}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{134,188}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{134,188}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,194},{144,188}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{144,188}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{152,190}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{152,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,194},{150,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{150,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{154,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{132,190}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{132,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{126,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,1},{126,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{124,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,1},{124,190}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,240},{108,160}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,11},{108,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,370},{138,178}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,10},{138,178}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{142,178}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{142,178}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,190},{146,178}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,11},{146,178}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,350},{70,156}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,12},{70,156}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,350},{68,154}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,13},{68,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,350},{68,154}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,13},{68,154}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,360},{128,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,84},{128,28}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,180},{52,176}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,1},{52,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,170},{68,176}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,1},{68,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,92},{76,176}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,1},{76,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{88,176}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,1},{88,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{108,176}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,1},{108,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,182},{110,176}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,1},{110,176}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,474},{48,30}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,74},{48,30}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,386},{124,84}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,20},{124,84}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,386},{120,78}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,26},{120,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,384},{114,74}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{114,74}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Heal3_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,360},{112,68}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{112,68}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Heal3.png</string>
            <key>size</key>
            <string>{1118,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0856c30884472fc464854691a6079b4a:9fb70902fa845c5735f0f0764a6c30ef:148a9b02b8bfee42f995e31abed4bb51$</string>
            <key>textureFileName</key>
            <string>Heal3.png</string>
        </dict>
    </dict>
</plist>
